[Unit]
Description=Supabase Daily Backup Service
After=network.target

[Service]
Type=oneshot
# Project directory
WorkingDirectory=${INSTALL_DIR}
# Run the script and pipe output to log file in the project directory
ExecStart=/usr/bin/env bash -c "${INSTALL_DIR}/backup.sh"

[Install]
WantedBy=default.target
